@font-face {
    font-family: 'Dunkin Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dunkin Regular'), url('Dunkin.woff') format('woff');
    }

@font-face {
    font-family: 'Dunkin Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Dunkin Bold'), url('Dunkin Bold.woff') format('woff');
    }

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-regular-webfont.woff') format('woff');
	font-weight: 400; // normal
	font-style: normal;
}


#mobilescreen
{
width:394px;
background:#E0CBA8;
margin: auto;
position:relative;
overflow:hidden;
}

img {
    max-width:150px;
    height:26.89px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
} 

ul {
  text-align: center;
  list-style: none;
}

ul li {
  font-family: 'Dunkin Regular', DunkinSansBook,'Montserrat',sans-serif;
  font-style: normal;
  font-size: 14px; 
  font-weight: bold;
text-align: center;
  display: inline-block;
  width: 80px;
  padding: 14px 0px;
 text-transform: uppercase;
}

li a {
  color: #333;
  text-decoration: none;
}

#rectangle {
  height: 74px;
  width: 394px;
  background-color:#db0a81;
  margin: 0 0 0 0;
  text-align: center;
  font-size: large;
  color: white;
  
  font-family: DunkinSansBook,"Montserrat",sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 1px;
}


h2{ 
   font-family: DunkinSansDisplay, 'Dunkin Bold';
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    color: #db0a81; 
    text-align: center;
}

p2{
   font-family: DunkinSansBook, 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 0;
    color: #333;
    text-align: center;
}

.button{ 
font-family: DunkinSansDisplay,DunkinSansBook,"Montserrat",sans-serif;
font-style: normal;
font-weight: 800;
background-color: #db0a81;
border: 2px solid #db0a81;
border-radius: 40px;
box-sizing: border-box;
color: #fff;
padding: 13px;
text-transform: uppercase;
text-align: center; 
width: auto;
box-sizing: border-box;

}

.button2{ 
font-family: DunkinSansDisplay,DunkinSansBook,"Montserrat",sans-serif;
font-style: normal;
font-weight: 800;
border: 2px solid #db0a81;
border-radius: 40px;
box-sizing: border-box;
color: #db0a81;
padding: 13px;
text-transform: uppercase;
text-align: center; 
width: auto;
box-sizing: border-box;
}

content{ 
font-family: DunkinSerifBold;
    font-weight: bold;
    font-size: 1.43rem;
    margin: right;
}

@media only screen and (max-width: 394px)
